// main: ../style.less


/* 404
**********************************************************************************/
.error404	{ background-image:url('../images/BG_repeat.jpg'); background-repeat:repeat; width:100%; height:100%;}
.error404 .container	{ border-radius: 0 35px; background: #0d557e; width: 50%; margin-left: -25%; margin-top: 5%; position: absolute; left: 50%; }
.error404 h1	{ font-size: 30px; color: #fff; text-align: center; padding-top: 40px; margin-bottom: 10px; }
.error404 h2	{ color: #fff; font-size: 56px; font-weight: 300; text-align: center; margin-bottom: 65px; text-transform: uppercase; }
.error404 .cta	{ width: 100%; margin-left: auto; margin-right: auto; text-align: center; padding-bottom: 30px; }
.error404 a	{ color: #fff; text-decoration: none; text-align: center; display: inline-block; border: 1px solid #fff; padding: 15px; }
.error404 a:hover	{ color: #0d557e; background:#fff; border: 1px solid #fff; border-radius: 0 5px; }

/**********************************************************************/
/* RESPONSIVE */
/**********************************************************************/
@media (max-width: 1800px)  {


}

@media (max-width: 1200px)  {


}

@media (max-width: 960px)  {

	.error404 .container	{ width: 80%; margin-left: -40%; }
	.error404 h1			{ font-size: 24px; }
	.error404 h2			{ font-size: 30px; }

}

@media (max-width: 900px)  {


}

@media (max-width: 768px)  {

	.error404 h1			{ font-size: 18px; }
	.error404 h2			{ font-size: 24px; padding: 0 20px; }

}

@media (max-width: 480px)  {


}

@media (max-width: 320px)  {


}
