// main: ../style.less



/* =============================================================================
   Masonry
   ========================================================================== */

.inner-cat { margin-top: 0px; margin-bottom: 30px; position: relative;

	&:before { z-index: -1; position: absolute; content: ""; height: 1px; top: 50%; left: 0; margin-top: -2px; width: 100%; background-color: #000; }

	h2 { margin:0; padding: 10px 0; font-weight: 600; font-size: 16px; text-transform: uppercase; width: 100%; background-color: #C9C9C9;  }
}

.sub-cat-wrap {

	h5, .sub-cat-toggle { display: none; }

	@media (max-width: 768px) { background-color: #c9c9c9; margin: 0 15px; margin-bottom: 30px; position: relative;


		.sub-toggle { cursor: pointer; }
		h5, .sub-cat-toggle { display: inline-block; }
		h5 { text-transform: uppercase; font-size: 13px; padding: 0 0 0 15px; }
		.sub-cat-toggle { position: absolute; right: 0; top: 0; width: 34px; height: 34px; line-height: 34px; text-align: center; }
		.sub-cat-toggle i { .transition; }
		.sub-cat-toggle.sub-active i { transform: rotate(90deg) translate(0, 0); }
		.small-center-nav { display: none; position: absolute; margin-top: 0; top: 34px; z-index: 99; }
		.magazine-nav { background-color: #c9c9c9; margin: 0; padding: 10px 0;

			li { display: block; width: 100%; }
		}
	}
}

.post-thumb {

	.inner {
		opacity:0;
		transition:opacity 0.7s ease-in-out;
		-moz-transition:opacity 0.7s ease-in-out;
		-webkit-transition:opacity 0.7s ease-in-out;
	}

	&:hover .inner { opacity: 1; }
}

.post-thumb.inview {

	.inner { opacity:1; }
}

#pbd-alp-load-posts { clear: both; }

.mobile-pub { display: none;

	@media (max-width: 768px) { display: block; margin-bottom: 30px; max-width: 370px; }
}

.row-grid { position: relative; }
.post-rows { position: relative; margin-right: 400px; padding: 0 15px;

	@media (max-width: 767px) { margin-right: 0; }
}
.fixed-nav { width: 400px; position: absolute; right: 0; top: 0; padding: 0 15px; height: 100%;

	.fixed-inner { position: relative; max-width: 100%;

		.sidebar {     transition: all .3s ease-in-out;
	    z-index: 300;
	    overflow: hidden;
	    width: 370px; }
	}

	.pub-item { margin-bottom: 30px; }

	@media (max-width: 768px) { display: none; }
}

.sidebar {

	.inner { transition: 0.3s all ease; top: 0; text-align: right; padding: 0 0 0 15px; }

	&.fixed {

		.inner {
			position: fixed; top: 15px;
		}
	}
}

.single {

	// @media (max-width: 768px) {
	// 	.post-list { right: inherit; width: 100%; }
	// }
	//
	// @media (max-width: 992px) {
	// 	.sidebar { width: 100%; left: 0;
	// 		.pub-item.pub-size-box { height: auto; }
	// 		.pub-banner { width: 370px; height: 300px; margin: 0 auto 15px auto; }
	// 	}
	// }
	//
	@media (max-width: 768px) {
		.sidebar { display: none; }
	}
	//
	// .single-post-container {
	//
	// 	@media (max-width: 768px) {
	// 		.sidebar { display: none; }
	// 		.mobile-sidebar { display: block;
	// 			.pub-banner { width: 370px; height: 300px; margin: 0 auto 25px auto; }
	// 		}
	// 	}
	//
	// 	@media (max-width: 480px) {
	// 		.mobile-sidebar { display: block;
	// 			.pub-banner { width: 100%; height: 300px; margin: 0 auto 25px auto; }
	// 		}
	// 	}
	//
	// }

	.post {

		.single-post-content .mobile-sidebar img { width: 100%; max-width: 600px; }

		.single-post-content a {
			text-decoration: none;
			box-shadow: inset 0 -1px 0 #d2d2d2;
			color: inherit;
			-webkit-transition: background .15s cubic-bezier(.33,.66,.66,1);
			transition: background .15s cubic-bezier(.33,.66,.66,1);

			&:hover { background: #d2d2d2; }
		}

		.single-post-content a.single-pub { transition: none; box-shadow: none;

			&.mobile { text-align: center; display: none; }
			&.desktop { text-align: left; display: block; }
			&:hover { background: none; }

			&.mobile img { max-width: 300px; width: 100%; }
			&.desktop img { max-width: 600px; width: 100%; }

			@media (max-width: 768px) {

				&.mobile { display: block; }
				&.desktop { display: none; }
			}
		}


		h1 { font-size: 18px; margin: 0 0 20px 0; padding: 0 0 20px 0; border-bottom: 1px solid #d7d7d7; }

		h2 { font-size: 17px; font-weight: 700; margin: 25px 0 12px 0; }
		h3 { font-size: 16px; font-weight: 700; margin: 25px 0 12px 0; }
		p, ul li { font-size: 16px; line-height: 1.6; .didot; }

		img { margin-top: 15px; margin-bottom: 5px; }
		.metas {
			margin: 0 0 20px 0; font-size: 12px;
			display: flex; align-items: center;

			.author-info {
				display: flex; align-items: center;

				figure {
					background-position: center 0%; background-repeat: no-repeat; background-size: cover;
					width: 45px; height: 45px; margin: 0 15px 0 0; border-radius: 50%;
				}
			}

			span.sep { margin: 0 4px; }

			.share-list {
				margin-left: auto;

				.jssocials-shares {
					 display: flex; align-items: center;

					> div {
						width: 30px; height: 30px;
						background-color: #595959; border-radius: 50%; margin: 0 0 0 10px; border: 1px solid #595959;
						.transition;

						a { color: #fff; display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; }

						&.jssocials-share-twitter { background-color: #7e7e7e; border-color: #7e7e7e;

						}
						&.jssocials-share-pinterest { background-color: #4d4d4d; border-color: #4d4d4d;

						}
						&.jssocials-share-email,
						&.comment-anchor { background-color: #fff; border-color: #f1f1f1;

							a { color: #000; }

							&:hover {
								background-color: #000; border-color: #000;

								a { color: #fff; }
							}
						}

						&:hover {
							background-color: #000; border-color: #000; color: #fff;

							a { color: #fff; }
						}
					}
				}


			}
		}

		.fb-comments-title { font-size: 24px; text-transform: uppercase; }

		@media (max-width: 768px) {

			h1 { font-size: 18px; padding: 0 0 10px 0; }

			.metas {
				flex-direction: column; align-items: baseline;

				.share-list {
					margin: 0; position: fixed; bottom: 0; width: 100%; left: 0;
					padding: 10px 15px; background-color: #fff; z-index: 901;

					.jssocials-shares { justify-content: space-around; }

					.jssocials-shares > div { margin: 0 8px 0 0; }
				}

				.author-info {
					flex-direction: column; align-items: baseline;

					figure { margin: 0 0 5px 0; }

					span { display: block; margin: 0 0 5px 0; }

					.sep { display: none; }
				}
			}
		}
	}

	.collab-wrap { position: relative; text-align: center; margin: 0 0 24px 0;

		.collab { text-transform: uppercase; font-size: 18px; padding: 0 10px; margin: 0; font-weight: 600; text-align: center; display: inline-block; background-color: #fff;

		}

		&:before {
			z-index: -1;
			position: absolute;
			content: "";
			height: 1px;
			top: 50%;
			left: 0;
			margin-top: -2px;
			width: 100%;
			background-color: #000;
		}
	}

	.similar-posts {
		margin: 60px 0 70px 0;

		> div {
			width: 100%; max-width: 1230px; margin: 0 auto; padding: 0 15px;

			h3 { font-size: 15px; }
		}
	}
}

.single-collaborateur {

	.post-list-third .title-suggested {

		h2 { margin: 0; }
		h2 span { display: inline-block; margin: 0 0 0 3px; }
	}
}

.single {

	.authorarea {
		width: 100%; position: relative; flex-wrap: wrap;
		border-bottom: 1px solid #d7d7d7; padding: 20px 0; margin: 0 0 40px 0;

		.avatar-wrap { display: inline-block; max-width: 200px; width: 100%; flex-shrink: 0; padding: 0 30px 0 0;}
		img { margin-top: 0; margin-bottom: 0; }

		.inner-author { display: flex; align-items: center; }
		.authorinfo {

			p { font-size: 12px; line-height: 1.66; .pt-serif; letter-spacing: 0.07em; }

			h3 { text-transform: uppercase; margin: 0 0 20px 0; font-size: 24px; }
			.author-socials { list-style-type: none; padding: 0; margin: 0 0 20px 0;

				li { display: inline-block; margin-right: 8px; }
				li a { display: inline-block; background-color: #333; color: #fff; width: 30px; height: 30px; font-size: 15px; text-align: center; line-height: 30px; }
				li a i { color: #fff; }

			}
			.more { font-size: 13px; text-transform: uppercase; font-weight: 400; }
		}

		@media (max-width: 768px) {
			.avatar-wrap { width: 100%; height: auto; position: relative; }
			.avatar-wrap, .authorinfo { float: none; }
			.authorinfo { margin-left: 0; }
			.avatar-wrap { margin-bottom: 15px; }
			.inner-author { text-align: center; }
		}
	}

	@media (max-width: 768px) {
		.cd-top { bottom: 60px; }
	}
}

.single-collaborateur {

	.post .meta { margin-bottom: 0; }
}
