// main: ../style.less

/**********************************************************************/
/* FOOTER */
/**********************************************************************/

.instagram-section {
	max-width: 1200px; padding: 0 15px; margin: 0 auto;

	h2 {
		font-size: 15px; text-transform: uppercase;
		line-height: 1; margin: 0 0 20px 0; padding: 0 0 10px 0;
		border-bottom: 1px solid #d7d7d7; .raleway; font-weight: 700; letter-spacing: 0.07em;
		display: flex; align-items: center;
	}

	.insta-grid {
		display: flex; margin: 0 -5px;

		a { max-width: 12.5%; width: 100%; padding: 0 5px;

			img { max-width: 100%; height: auto; }
		}
	}
}

.footer { margin-top: 50px; padding: 25px 15px 0 15px; position: relative;

	.inner-footer { border-top: 1px solid #d6d6d6; height: 1px; width: 100%; margin: 0 15px 10px 15px; }

	h3 { font-size: 24px; font-family: @ff-title; color: #000; text-transform: uppercase; margin: 0 0 7px 0; line-height: 1em;

		span { font-size: 24px; color: #fff; font-family: 'Open sans',sans-serif; }
	}

	.newsletter-footer {
		text-align: center;

		.logo {
			display: block; margin: 0 0 15px 0;

			img { max-width: 330px; height: auto; }
		}

		h4 { font-size: 12px; text-transform: uppercase; .raleway; font-weight: 700; margin: 0; letter-spacing: 0.07em; color: #000; }

		.newsletter-content {

		    .inner-wrap { padding: 30px 0 27px 0; text-align: center; margin: 0 auto; display: inline-block; width: 100%; }

		    .inner { display: inline-block; }

		    h3 { font-size: 20px; line-height: 30px; color: #000; margin: 0 18px 0 0; text-transform: uppercase; display: inline-block; float: left; }
		    h3 span { margin-top: 0px; display: block; }

		    .gform_wrapper { display: inline-block; float: left;

		        form { margin: 0; }
		        .gfield_label { display: none;}
		        .gform_body, .gform_footer { display: inline-block; float: left; }
		        input[type="text"], input[type="email"] { background-color: #fff; border: 1px solid #000; padding: 0px 10px; width: 260px; line-height: 34px; text-transform: uppercase;
					.raleway; font-weight: 700; letter-spacing: 0.05em; font-size: 12px;
				}
		        ul { margin: 0; list-style-type: none; padding: 0; }
		        input[type="submit"] { line-height: 36px; padding: 0 10px; background-color: #000; text-transform: uppercase; .raleway; font-weight: 700; letter-spacing: 0.05em; font-size: 12px;}
				input[type="submit"]:hover { background-color: #333; }
		        ::-webkit-input-placeholder	{ text-transform: uppercase; .raleway; font-weight: 700; letter-spacing: 0.05em; font-size: 12px; }
		        :-moz-placeholder 			{ text-transform: uppercase; .raleway; font-weight: 700; letter-spacing: 0.05em; font-size: 12px; } /* Firefox 18- */
		        ::-moz-placeholder 			{ text-transform: uppercase; .raleway; font-weight: 700; letter-spacing: 0.05em; font-size: 12px; } /* Firefox 19+ */
		        :-ms-input-placeholder 		{ text-transform: uppercase; .raleway; font-weight: 700; letter-spacing: 0.05em; font-size: 12px; }
		    }

		    @media (max-width: 768px)  {

		        h3 { text-align: center; width: 100%;  }
		        .gform_wrapper { float: none; margin: 15px 0 0 0; }
		    }
		}
	}

	.newsletter { background-color: #c2bdb5; margin: 0; position: relative;

		.envelop {  background-image:url(../images/enveloppe.png); margin: -45px 0 0 0; width: 145px; height: 91px; background-repeat: no-repeat; position: absolute; top: 50%; margin: -45px 0 0 0; left: 30px; }
		.news-info { margin: 0 0 0 195px; padding: 55px 0;

			h5 { font-family: @ff-menu; font-size: 18px; color: #fff; margin: 0 0 10px 0; line-height: 1em; }
			.gform_wrapper { margin: 0;

				li { margin: 0; padding: 0; }
				.gfield_label { display: none; }

			}



		}

	}

}

.credits { position: relative; padding: 25px 0 45px 0; line-height: 1em; font-family: @ff-menu; font-size: 14px; font-weight: 400; color: #000;

	.socials { text-align: center; margin: 15px 0 45px 0; }
	.socials a { margin: 0 12.5px; font-size: 25px; color: #333333; }
	.socials a:hover { color: #000; }

	a { font-family: @ff-menu; font-size: 13px; line-height: 1em; font-weight: 400; color: #000; text-transform: uppercase; }
	.years { text-align: right; padding-right: 40px; font-size: 13px; text-transform: uppercase; }
	.naj             { text-align: left; color: #000; font-size: 13px; text-transform: uppercase; }
	    	.najomie         { color: #333; position: relative; }
			.najomie:hover 	 { color: #000; }
	    	.najomie i       { display: inline-block; position: absolute; top: -10px; right: 15px; background-image:url(../images/najomie-footer.png); background-repeat: no-repeat; width: 100px; height: 38px; background-size: cover; }
	@media (max-width: 768px) { text-align: center; font-size: 16px; .naj, .years { padding-right: 15px; text-align: center; font-size: 16px; margin: 12px 0; } a { font-size: 16px; } }
	@media (max-width: 480px) {


		.years { margin-bottom: 15px; }
		.najomie { padding-right: 0; margin-bottom: 30px; display: block; }
		.najomie i { top: 10px; left: 50%; margin-left: -50px; }

	}
}


@media (max-width: 1024px) {

	.footer {

		.newsletter-footer {

			.logo img { max-width: 260px; }
		}
	}

	.instagram-section {

		h2 { font-size: 14px; }

		.insta-grid {

			a { max-width: 25%; }
			a:nth-child(5),
			a:nth-child(6),
			a:nth-child(7),
			a:nth-child(8) { display: none; }
		}
	}
}

@media (max-width: 480px) {


	.footer {

		.newsletter-footer {

			.newsletter-content {

				.inner-wrap { padding: 10px 0; }

				.gform_wrapper {

					.gform_footer, .gform_body {
						width: 100%;

						input { width: 100%; }
					}
				}
			}
		}
	}

	.credits {

		.socials {
			margin: 15px 0;

			a { font-size: 16px; }
		}

		.naj, .years {
			font-size: 13px;

			a { font-size: 13px; }
		}
	}
}
