// main: ../style.less
/**********************************************************************/
/* GRAVITY FORMS */
/**********************************************************************/
.content {

	.gform_wrapper {

		select,
		textarea,
		input[type="tel"],
		input[type="text"],
		input[type="email"],
		input[type="password"]	{ }

		textarea { height: 135px; }

		.gfield_label { display: none; }

		.gform_validation_container,
		.gf_hide_label .gfield_label { display: none; }

		.validation_error	{ background: #333; padding: 15px; color: #fff; font-style: italic; margin-bottom: 15px; }
		.validation_message	{ color: #333; font-style: italic; }
		.gfield_error		{

			select, textarea, input { border-color: #333; }
		}

	}

	.mc4wp-form { margin-bottom:0; display: inline-block; }

}
