// main: ../style.less

/**********************************************************************/
/* HEADER */
/**********************************************************************/
.home .header { padding: 15px 0 10px 0; }
.header {

	@media (max-width: 768px) { display: none; }
}
.header, .mobile-header { padding: 15px 0 30px 0; margin: 0;

	.logo { float: left; position: relative;
		img { height: auto;
			@media (min-width: 1200px) { max-width: 450px; height: auto; }
			@media (max-width: 1200px) { max-width: 300px; }
			@media (max-width: 600px) { max-width: 230px;}
			@media (max-width: 320px) { max-width: 195px; }
		}

		.tagline {
			position: absolute; bottom: 0; left: 0; text-align: center; width: 100%; font-size: 15px;
			text-transform: uppercase; font-family: "questaregular"; letter-spacing: 0.1em; display: none;
			}

		@media (max-width: 600px) { line-height: 60px; }
	}

	.back-b {
		display: inline-block; float: right; padding: 10px 15px; line-height: 1.2em; letter-spacing: 0.05em; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;
		text-transform: uppercase; background-color: #333; color: #fff; font-size: 10px; font-family: @ff-base; font-weight: 900;

		&:hover { background-color: #000; }
	}

}

.admin-bar {

	#wpadminbar { position: fixed; }

	.mobile-header { top: 32px;

		@media (max-width: 782px) { top: 46px; }
	}
}

.logo-wrapper { display: block; width: 100%; text-align: center; margin: 10px 0 50px 0;

	.logo { display: inline-block; float: none; }
}

/**********************************************************************/
/* MENUS */
/**********************************************************************/
.pull-left { font-family: @ff-base;


	.menu { list-style-type: none; padding: 0;

		li { display: inline-block; margin-right: 15px; }
		li.current-menu-item a { font-weight: bold; }
		li a { font-size: 11px; }
		li a:first-child { margin-left: 0; }
	}


	a { font-size: 14px; text-transform: uppercase; margin: 0 10px; color: #737171;

		span { padding: 2px; }
		&:hover { color: #000; }
		&:first-child { margin: 0 8px 0 0;  }
		&:last-child { margin: 0 0 0 8px;  }

		@media (max-width: 900px) { font-size: 12px;


			&:first-child { margin: 0 4px 0 0;  }
			&:last-child { margin: 0 0 0 4px;  }
		}
		@media (max-width: 480px) { font-size: 11px; margin: 0;
			span { padding: 0px; }
			&:first-child { margin: 0;  }
			&:last-child { margin: 0;  }
		}
	}
	@media (max-width: 767px) { float: none !important; text-align: center; }
}
.cart-but { font-size: 11px; text-transform: uppercase; .raleway;

	i { margin-left: 5px; }
	&:hover { color: #000; }
	@media (max-width: 900px) { font-size: 12px; }
	@media (max-width: 767px) { font-size: 11px; margin-top: 15px; display: block; }
}

.pull-right { 	@media (max-width: 767px) { float: none !important; text-align: center; } }

.toggle-search { margin-right: 10px; }

.center-nav, .small-center-nav { display: block; clear: both; text-align: center;

	> nav > ul {
		display: flex; justify-content: space-between;
		padding: 0; list-style-type: none; margin: 0; border-top: 1px solid #eaeaea;
		position: relative;

		li {
			display: inline-block; line-height: 50px;

			a {
				display: inline-block; font-size: 12px; font-weight: 500; text-transform: uppercase; .raleway;
				line-height: 32px; letter-spacing: 0.06em; color: #000; line-height: 14px; border-bottom: 1px solid transparent;
			}

			&.current_page_parent, &.current-menu-item, &.current-category-parent, &:hover {

				> a { border-bottom: 1px solid #000; }
			}
		}

		li.menu-item-has-children {

			> a {
				&:after { content: "\f0d7"; font-family: FontAwesome; position: relative; margin: 0 0 0 3px; font-size: 13px; }
			}
		}

		li:hover .sub-menu, li:hover .children { opacity: 1; top: 50px; visibility: visible; }

			.sub-menu, .children {
				position: absolute; top: -1000px; background-color: #fff;
				z-index: 22; visibility: hidden; display: block; padding: 20px 0;
				text-align: left; left: 0px; opacity: 0; transition: opacity .3s ease; list-style-type: none;
				display: flex; justify-content: space-around; width: 100%;

				li	{
					white-space: nowrap;

					a 	{ display: block; font-size: 12px; font-weight: 400; line-height: 14px; padding: 0; color: #000;

						&:hover { color: #333; }
					}
				}
			}
	}
}

.small-center-nav { margin-top: -30px;

	ul { margin: 10px 0; }
	ul li { margin-right: 0;

		a { font-size: 12px; line-height: 28px; padding: 5px 15px; font-family: @ff-title; }
		&:after { display: none;}

		&.current {

			a { background-color: #000; color: #fff; }
		}
	}
}

.mobile-nav-wrap {
	display: none;

	ul { padding: 0; margin: 0; list-style-type: none; }
}

.mm-listview > li > a, .mm-listview > li > span { color: @bleu; font-size: 20px; padding: 20px; font-weight: 300; }

.mm-menu {
	background-color: #1b1b1b;
}

.hamburger {
	position: relative; overflow: hidden; top: 0; right: 0; margin: 0; padding: 0; background-color: #f4f4f4;
	width: 60px; height: 60px; font-size: 0; text-indent: -9999px; appearance: none; z-index: 9; margin: 30px auto;
	box-shadow: none; border-radius: none; border: none; cursor: pointer; transition: background 0.3s; display: block; text-align: center;

	&:focus { outline: none; }

	span { display: block; position: absolute; top: 30px; left: 15px; right: 15px; height: 3px; background: #333;

		&:before,
		&:after { position: absolute; display: block; left: 0; width: 100%; height: 3px; background-color: #333; content: ""; }
		&:before { top: -8px; }
		&:after { bottom: -8px; }
	}

	&:hover {

		span { background: #333;

			&:before,
			&:after { background-color: #333; }
		}
	}
}

.mobile-header { background: #fff; position: fixed; width: 100%; display: none; z-index: 999; -webkit-transition: all 1s ease-out; padding: 0; height: 60px;

	 .logo { line-height: 60px; height: 60px; display: flex; align-items: center; }
	.logo img { max-height: 45px; width: auto; }

	.top-mobile { position: relative; display: block; width: 100%; height: 60px; .transition; padding: 0 15px; }

	.container { padding: 0; width: 100%; z-index: 99999; }
	.container.fixed { position: fixed; top: 0; left: 0; width: 100%; background: #f4f4f4; z-index: 99999; }

	.cart-wrap { padding: 0; position: absolute; right: 15px; top: 13px;

		.cart-contents { margin: 0; }
		.cart-icon { background-size: cover; width: 24px; height: 22px; }

	}

	.hamburger { margin: 0; top: 0; width: 60px; height: 60px; line-height: 60px; display: inline-block; float: right;

		span { top: 30px; left: 17px; right: 17px; height: 2px;

			&:before,
			&:after { position: absolute; display: block; left: 0; width: 100%; height: 2px; background-color: #333; content: ""; }
			&:before { top: -6px; }
			&:after { bottom: -6px; }
		}
	}

	.mobile-menu { display: none; background-color: #f4f4f4; margin: 0 15px; clear: both;

		ul { list-style-type: none; padding: 0; margin: 0;

			li { margin-bottom: 14px;  }
			li:last-child { margin: 0; }

			li a { color: #333; font-size: 20px; text-transform: uppercase; }
		}

		.top-m { border-bottom: 1px solid #333; padding: 25px 15px 15px 15px; }
		.bot-m { padding: 25px 15px 15px 15px; }
		.bot-m li a { font-size: 14px; text-align: left; margin: 0; padding: 0; }

		.searchform {
			background-color: @lightgrey;

			.searchpop { padding: 0 15px; }
			input { font-size: 20px; color: @base; }
			::-webkit-input-placeholder { color: @base; }
			::-moz-placeholder { color: @base; }
			:-ms-input-placeholder { color: @base; }
			:-moz-placeholder { color: @base; }
		}

		.login { text-transform: lowercase; }
		.soc { display: inline-block; margin-right: 10px; }
		.bot-m li.soc a { font-size: 20px; }
	}

	@media (max-width: 768px) { display: block; }
}

.c-hamburger--htx span { transition: background 0s 0.3s; }
.c-hamburger--htx span::before,
.c-hamburger--htx span::after { transition-duration: 0.3s, 0.3s; transition-delay: 0.3s, 0s; }
.c-hamburger--htx span::before { transition-property: top, transform; }
.c-hamburger--htx span::after { transition-property: bottom, transform; }
.c-hamburger--htx.is-active span { background: none; }
.c-hamburger--htx.is-active span::before { top: 0; transform: rotate(45deg);  }
.c-hamburger--htx.is-active span::after { bottom: 0; transform: rotate(-45deg); }
.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after { transition-delay: 0s, 0.3s; background-color: #333; }
