// main: ../style.less

.home {

    .first-featured {
        margin-top: 20px; margin-bottom: 20px;
    }

    .featured {
        margin-bottom: 40px; display: flex; width: 100%;

        .posts-list { padding: 0 15px 0 0; }
        .pub-side { padding: 0 0 0 30px; text-align: right; position: relative; }
    }

    .post-list-third {

        .title-suggested {

            h2 { margin: 0 0 30px 0; }
        }
    }

    .largebox {
        display: table; margin: 0 auto 90px auto;
    }

    .in-container {
        max-width: 1200px; margin: 0 auto; padding: 0 15px; display: table; width: 100%;
    }

    .full-container {
        margin: 0 0 90px 0;

        .row {
            max-width: 1230px; margin: 0 auto; padding: 0 15px;
        }
    }

    .content {

        > div:last-of-type { margin: 40px 0 90px 0; }
    }
}
