// main: ../style.less

@charset "utf-8";

// @import url(btn.less);
@import "pagination.less";

/**********************************************************************/
/* FONTS */
/**********************************************************************/

@font-face {
    font-family: 'questa_granderegular';
    src: url('../fonts/2-questa_grande_regular_31-webfont.eot');
    src: url('../fonts/2-questa_grande_regular_31-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/2-questa_grande_regular_31-webfont.woff2') format('woff2'),
         url('../fonts/2-questa_grande_regular_31-webfont.woff') format('woff'),
         url('../fonts/2-questa_grande_regular_31-webfont.ttf') format('truetype'),
         url('../fonts/2-questa_grande_regular_31-webfont.svg#questa_granderegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'questaregular';
    src: url('../fonts/2-Questa_Regular-webfont.eot');
    src: url('../fonts/2-Questa_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/2-Questa_Regular-webfont.woff2') format('woff2'),
         url('../fonts/2-Questa_Regular-webfont.woff') format('woff'),
         url('../fonts/2-Questa_Regular-webfont.ttf') format('truetype'),
         url('../fonts/2-Questa_Regular-webfont.svg#questaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: 'TheanoDidot-Regular';
  src: url('../fonts/TheanoDidot-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TheanoDidot-Regular.woff') format('woff'),
  url('../fonts/TheanoDidot-Regular.ttf')  format('truetype'),
  url('../fonts/TheanoDidot-Regular.svg#TheanoDidot-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}



/**********************************************************************/
/* VARIABLES */
/**********************************************************************/

@link: #96c2bf; // green
@bleu: #96c2bf; // green
@text: #484848; // dark grey
@base: #484848; // dark grey
@lightgrey: #d0cecb;

/* C - Font colors */

@c-base: #000;
@c-title: #000;
@c-link: #96c2bf;
@c-hover: #959595;

/* BC - Background colors */

@bc-primary: #fff;
@bc-secondary: #171717;
@bc-border: #e7e7e7;

@ff-headings: "TheanoDidot-Regular", serif;
@ff-menu: "TheanoDidot-Regular", serif;
@ff-base: "TheanoDidot-Regular",serif;
@ff-title: "TheanoDidot-Regular";

.raleway {
    font-family: 'TheanoDidot-Regular';
    font-weight: 400;
}

.pt-serif {
    font-family: 'PT Serif', serif;
    font-weight: 400;
}

.didot {
    font-family: 'TheanoDidot-Regular';
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');

/**********************************************************************/
/* HELPERS */
/**********************************************************************/
.cf:before,
.cf:after	{ content:""; display:table; }
.cf:after	{ clear:both; }
.cf 	 	{ zoom:1; }

.clearboth 		{ display: block; margin: 0; padding: 0; clear: both; }
.alignleft 		{ float: left; margin-right: 10px; }
.alignright 	{ float: right; margin-left: 10px; }
.aligncenter	{ margin-left: auto; margin-right: auto; display: block; }

.wpb_row.no-btm-margin,
.no-btm-margin,
.wpb_wrapper .no-btm-margin     { margin-bottom: 0; }
.small-btm-margin,
.wpb_wrapper .small-btm-margin  { margin-bottom: 10px; }
.medium-btm-margin,
.wpb_wrapper .medium-btm-margin { margin-bottom: 20px; }
.wpb_row { margin-bottom: 30px; }

.dots { margin-left: -3px; }


.vc_separator.vc_sep_double .vc_sep_line { border-bottom: 1px solid #ebebeb; border-top: 1px solid #ebebeb; height: 7px; }

.v-align {
	position: relative;
	top: 50%; transform:
	translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.transition {
    -webkit-transition:  all 0.3s ease;
    -moz-transition:  all 0.3s ease;
    -ms-transition:  all 0.3s ease;
    -o-transition:  all 0.3s ease;
    transition:  all 0.3s ease;
}
/**********************************************************************/
/* BOOTSTRAP */
/**********************************************************************/
.no-space [class*="-3"]	{ padding: 0; }
.container		{ max-width: 1200px; width: 1200px; }
.container	{

    @media (max-width: 1300px) { width: 100%; padding: 0 50px;  }
    @media (max-width: 992px) { width: 100%; padding: 0 15px;  }
}

/**********************************************************************/
/* GENERAL */
/**********************************************************************/
.main {

    @media (max-width: 768px) { margin: 90px 0 0 0;  }
}


body 	{ .pt-serif; font-size: 14px; color: #000; }

a,
input[type="submit"], figure:hover figcaption	{ -webkit-transition:  all 0.3s ease; -moz-transition:  all 0.3s ease; -ms-transition:  all 0.3s ease; -o-transition:  all 0.3s ease; transition:  all 0.3s ease; }
a, a:hover, a:focus	{ color: @base; text-decoration: none; }

* 						{ outline: none; }
a:active 				{ outline: none; }
:-moz-any-link:focus	{ outline: none; }

.cta { text-transform: uppercase; font-family: @ff-menu; font-weight: 300; margin: 0 0 24px 0; display: inline-block;

	span { color: @link; font-size: 20px; font-weight: 600; }

	&:hover, &:focus { color: @link; }

}

h1	{ font-size: 35px; font-family: @ff-title; text-transform: uppercase; margin: 0 0 35px 0;

	@media (max-width: 992px) { font-size: 30px; }

}
h2	{ font-size: 20px; }
h3	{ font-size: 18px; }
h4	{ font-size: 16px; }
h5	{ font-size: 14px; }


h1 span { color: @link; font-family: 'Open sans', sans-serif; }

hr.sep { border-top: none; margin-bottom: 50px; clear: both; margin-top: 0; background-image: url(../images/dotted.png); background-position: 0 0, 0 bottom; background-repeat: repeat-x, repeat-x; height: 1px;  }

.play-icon { background-image:url(../images/icons/play-icon.png); }

.content {
	p, ul, ol	{ line-height: 1.42em; }

	img { max-width: 100%; height: auto; }
}

::selection			{ background-color: #333; color: #fff; }
::-moz-selection	{ background-color: #333; color: #fff; }

::-webkit-scrollbar			{ width: 14px; }
::-webkit-scrollbar-track	{ background-color: #fff; }
::-webkit-scrollbar-thumb	{ background-color: #333;; outline: none; }

.page-wrapper { overflow: hidden; }

.home-wrap { background-color: @link; display: block; padding: 0 0 40px 0; }

.banner { width: 100%; height: 380px; background-color: @link;


    @media (max-width: 1200px) { height: 250px; }
}

.page {
    .content { margin-bottom: 40px ; }
}

.page-banner { height: 350px; position: relative; text-align: center; margin: 0 15px;

   h1 { .v-align; display: inline-block; margin: 0; line-height: 1em; font-size: 30px; font-weight: 300; font-family: @ff-headings; background-color: #fff; padding: 22px 55px; }
   @media (max-width: 1200px) { height: 250px; margin-bottom: 0px; }
   @media (max-width: 480px) {

       h1 { padding: 15px; font-size: 36px; }
   }
}



/*****  PUBS *******/

.click-pub { position: sticky; top: 15px; }
.pub-item { width: 100%; margin-bottom: 30px;

    &.pub-size-leaderboard1, &.pub-size-leaderboard2, &.pub-size-leaderboard3, &.pub-size-leaderboard4 {  }
    &.pub-size-leaderboard4 { margin-bottom: 30px; }
    &.pub-size-box {  }
    &.pub-size-bigbox {  }
    .pub-banner { width: 100%; height: 100%;}

    img {
        max-height: calc(~"100vh - 30px");
    }

    @media (max-width: 480px)  {
        &.pub-size-leaderboard1, &.pub-size-leaderboard2, &.pub-size-leaderboard3, &.pub-size-leaderboard4 { }
        &.mobile-hide { display: none; }
    }
}

.wpb_row {
    @media (max-width: 480px)  {

        &.top-mobile-hide { display: none; }
    }
}


/*****  EVENTS  *******/

.past-events {

    h2 { font-size: 32px; line-height: 1em; margin: 45px 0 25px 0; text-transform: uppercase; text-align: center; }
}

.hero-text { padding: 70px 0 50px 0 ;

    p { margin: 0 0 20px 0; }

    @media (max-width: 768px)  { padding: 40px; }
}

.events-thumb { width: 100%; height: 280px; }


/*****  COLLABORATIONS  *******/

.collab-content {

    p { line-height: 1.42em;     }

}

.collab-content .vc_custom_1449768856484 {

    @media (max-width: 768px)  { margin-top: 0px !important; }
}

.collab-content {
    @media (max-width: 768px)  {

        .partners-row .vc_single_image-wrapper img { max-width: 150px; height:auto; margin: 10px 0; }
    }
}
#main {
    .wpb_content_element {

        h2 { margin: 0 0 15px 0; font-weight: 300; font-size: 20px; }
        h3 { margin: 0 0 15px 0; font-weight: 300; font-size: 16px; }

        a { text-decoration: underline; }
    }
}

.vc_message_box a { text-decoration: none; color: #fff; }

.team-row {
    @media (max-width: 768px)  {

        .wpb_column { margin-bottom: 25px; }
    }
}

.content {

    .contact-row {

        .wpb_content_element { margin-bottom: 20px; }

        .gform_wrapper{

            .gfield_label { display: block; }
            .gform_fields { display: inline-block; margin: 0 -5px; padding-left: 0; list-style-type: none;

                .col-sm-6, .col-sm-12 { padding: 0 5px; }

                .gfield { margin: 0 0 10px 0; }
                .gfield input { width: 100%; }

            }

            .gform_footer { margin-top: -5px; }
        }
    }

}


/******  NEW POST GRID LAYOUT *******/

.post-list-third {
    display: block; clear: both; display: table;

    .title-suggested {

        h2 {
            font-size: 15px; text-transform: uppercase;
            line-height: 1; margin: 0 0 20px 0; padding: 0 0 10px 0;
            border-bottom: 1px solid #d7d7d7; .raleway; font-weight: 700; letter-spacing: 0.07em;
            display: flex; align-items: center;

            .more-cta { margin-left: auto; font-size: 10px; position: relative; top: 2px; }
            .more-cta:hover { color: #000; }
        }
    }

    .post-in-grid {
        display: block; text-align: center; margin: 0 0 50px 0;

        .post-thumb {
            width: 100%; height: 0; padding-bottom: 70%;
            margin: 0 0 10px 0; overflow: hidden; position: relative;

            .inner {
                width: 100%; height: 100%; transition: 0.5s all ease; position: absolute; top: 0; left: 0;
                background-size: cover; background-position: center; background-repeat: no-repeat;
            }
        }

        h3 { font-size: 16px; text-transform: uppercase; .raleway; font-weight: 700; margin: 0; letter-spacing: 0.07em; color: #000; padding: 0 15px; }

        &:hover {

            h3 { color: #333; }
        }

        &.with-desc {
            display: flex; align-items: center;

            > * {
                flex: 1; width: 50%;
            }

            .img-block {

                figure { margin: 0; }
            }

            .meta-block {
                text-align: left; padding: 0 25px;
                .pt-serif; font-size: 12px;

                h3 { padding: 0; margin: 0 0 15px 0; }
                .date-meta { .pt-serif; font-size: 12px; color: #acacac; letter-spacing: 0.07em; display: block; margin: 0 0 15px 0; line-height: 1; }

                .excerpt {
                    .didot; font-size: 12px; letter-spacing: 0.07em; color: #000; margin: 0 0 18px 0;
                }

                .author-info {
                    display: flex; align-items: center;

                    figure {
                        background-position: center 0%; background-repeat: no-repeat; background-size: cover;
                        width: 45px; height: 45px; margin: 0 15px 0 0; border-radius: 50%; padding-bottom: 0;
                    }

                    span { letter-spacing: 0.07em; }

                }
            }

            @media (max-width: 599px)  {
                flex-direction: column;

                > * { width: 100%; }

                .meta-block {
                    padding: 15px 0 0 0;
                }
            }
        }

        &:hover {

            .post-thumb .inner {
                transform: scale(1.1);
            }
        }
    }

    &.in-gray {
        background-color: #f7f7f7; padding: 50px 0 0 0; width: 100%;
    }

    &.archive-list {
        display: block; clear: inherit;
    }
}
