// main: ../style.less

// -------------------------------------------------------------------------
// Pagination
// -------------------------------------------------------------------------

.pagination {
    width: 100%;
    margin: 30px 15px 60px 15px;

    ul {
        list-style-type: none;
        display: inline-block;
        margin: 0;
        padding: 0;

        li {
            float: left;
            margin: 0 5px 0 0;

            a {
                display: block;
                width: 30px;
                height: 30px;
                font-weight: bold;
                line-height: 30px;
                font-size: 13px;
                text-align: center;
                color: #fff;
                background-color: #959595;
                border: none;
                transition: background-color 0.2s ease, color 0.2s ease ;

                &.active, &:hover, &.pagination-nav {
                    color: #fff;
                    background-color: #000;
                }
            }
        }
    }
}

// -------------------------------------------------------------------------
// Responsive
// -------------------------------------------------------------------------
