// main: ../style.less

/**********************************************************************/
/* ARCHIVE PRODUITS */
/**********************************************************************/


.woocommerce {

	 .page-banner {
		 height: 350px; position: relative; text-align: center; margin-bottom: 55px; display: flex; align-items: center;

		 .titles {
			display: table; margin: 0 auto;

	 		h1 {
				top: inherit; transform: none;  text-transform: none; display: inline-block; margin: 0; line-height: 1em;
				font-size: 34px; font-family: @ff-headings; background-color: #fff; padding: 22px 55px;
			}
		}

		h3 {
			position: absolute; bottom: 0; left: 0; width: 100%; background-color: #000; padding: 8px 0;
			color: #fff; text-transform: uppercase; font-size: 14px; margin: 0; line-height: 35px;
		}

		@media (max-width: 768px) {

			h3 { font-size: 10px; padding: 10px 5px; line-height: 17px; }

		}
	 }

	 ul.products { .make-row(); border-bottom: 1px solid #ccc; margin: 0 -15px 40px -15px;

	 	li.product { float: left; width: 33.3%; padding: 0 15px; margin: 0 0 40px 0; text-align: center;

			a img { margin-bottom: 0px; }

			h3 { display: inline-block; font-size: 15px; margin: 25px 0 0px 0; .raleway; text-transform: uppercase; padding: 0; }
			span.price { color: #000; font-size: 15px; margin: 0; .raleway; text-transform: uppercase; }
			@media (max-width: 992px) { width: 50%;
				img { width: 100%; }
			}
			@media (max-width: 768px) {
				figure.effect-winston a { font-size: 12px; }
			}
			@media (max-width: 580px) { width: 100%; }
		}
	 }

	 .product-content, .summary  {

		 a {
			 text-decoration: none;
			 box-shadow: inset 0 -1px 0 #d2d2d2;
			 color: inherit;
			 -webkit-transition: background .15s cubic-bezier(.33,.66,.66,1);
			 transition: background .15s cubic-bezier(.33,.66,.66,1);

			 &:hover { background: #d2d2d2; }
		 }
	 }
}

@media (max-width: 768px) {

	.pp_pic_holder.pp_default { width: 100%!important; left: 0!important; overflow: scroll; -webkit-overflow-scrolling : touch; }
    div.pp_default .pp_content_container .pp_left { padding-left: 0!important; }
    div.pp_default .pp_content_container .pp_right { padding-right: 0!important; }
    .pp_content { width: 100%!important; height: auto!important; }
    .pp_fade { width: 100%!important; height: 100%!important; }
    a.pp_expand, a.pp_contract, .pp_hoverContainer, .pp_gallery, .pp_top, .pp_bottom { display: none!important; }
	.pp_content #pp_full_res>img {
	    width: auto !important;
	    height: auto!important;
	    max-height: 500px;
	}
        #pp_full_res { line-height: 0.7 !important; }
    .pp_details { width: 94%!important; padding: 15px 3% 15px 3%; min-height: 35px; background-color: #fff; margin: 0!important; }
    div.pp_default .pp_description {margin: 11px 50px 5px 153px !important; }
    div.ppt { display:none !important; }
    .pp_play {margin-right: 20px !important;}
    .pp_arrow_previous {margin-right: 5px !important;}
}

.single-product {


	h1 { font-size: 20px; margin: 0 0 5px 0; }
	.price { font-size: 20px; .raleway; margin: 0 0 30px 0; }
	p { font-size: 14px; }

	.images { margin-bottom: 50px; }

	form.cart { margin-bottom: 50px; }
	.quantity .qty { width: 40px; border: 1px solid #333; float: left; display: inline-block; margin-right: 10px; padding: 3.5px 2px; }
	button.button.alt { .transition; background-color: #333; border-radius: 0px; font-size: 14px; text-transform: uppercase; .raleway; font-weight: 900; letter-spacing: 0.1em; padding: 6px 12px; }
	button.button.alt:hover { background-color: #000; }
	.product_meta { font-size: 14px; color: #737171;
		span { display: block; }
		.sku_wrapper { display: none; }
		@media (max-width: 768px) { display: block; margin-bottom: 15px; }
	}

	table { font-size: 14px; }

	.variations {

		select { border: 1px solid #737171; font-size: 14px; background-color: #737171; color: #fff; }
		.label { display: none; }
		.reset_variations { clear: both; display: block; margin: 5px 0; font-size: 14px; }
	}


	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {

	   opacity: 1;

	}
	.prod-desc { font-size: 22px; margin: 0 0 25px 0;  }
	.attachment-shop_single.wp-post-image { margin: 0 0 20px 0;

		@media (max-width: 768px) { width: 100%; }
	}

	.dual {

		@media (max-width: 580px) { width: 100%; }
	}

	div[itemprop="description"] { margin: 0 0 25px 0;

	}

	.thumbnails { .make-row(); margin: 0 -10px;
		a { .make-sm-column(4); padding: 0 10px; margin: 0 0 20px 0; }


		@media (max-width: 768px) { margin: 0 -5px;
			a { .make-xs-column(3); padding: 0 5px; }
		}

	}

	.related.products { margin-left: 40px; border-left: 1px solid #ccc;

		h2 { font-family: @ff-headings; font-size: 22px; line-height: 1em; text-transform: uppercase; margin: 0 0 40px 0; text-align: left; padding-left: 50px; }

		ul.products { .make-row(); border-bottom: none;  margin: 0 -15px 40px -10px;

		   li.product { .make-sm-column(12); margin: 0 0 40px 0; text-align: left; padding-left: 60px;

			   a img { margin-bottom: 0px; }

			   h3 { display: inline-block; font-size: 12px; margin: 20px 0 0px 0; .raleway; text-transform: uppercase; padding: 0; }
			   span.price { color: #000; font-size: 12px; margin: 0; .raleway; text-transform: uppercase; }

		   }
		}
		figure.effect-winston p { padding: 0 0 7px 0; }
		figure.effect-winston span { font-size: 10px; }

		@media (max-width: 992px) { margin: 0; border: none;

			h2 { text-align: center; font-size: 26px; margin: 40px 0 40px 0; }
			ul.products li.product { padding-left: 15px; .make-xs-column(6); }

		}

		@media (max-width: 360px) {

			ul.products li.product { .make-xs-column(12); }

		}
	}
}

.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
    background-color: #333;
    text-decoration: none;
    background-image: none;
    color: #fff;
	border-radius: 0;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button { border-radius: 0; text-transform: uppercase; letter-spacing: .1em; }
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	background-color: #333; color: #fff; border-radius: 0; text-transform: uppercase; letter-spacing: .1em;

	&:hover { background-color: #000; color: #fff; }
}
.woocommerce table.shop_table { border-radius: 0; }
.woocommerce .woocommerce-message, .woocommerce .woocommerce-info { border-top-color: #333; }
.woocommerce .woocommerce-message:before, .woocommerce .woocommerce-info:before { color: #333; }
.woocommerce-cart .cart-collaterals .cart_totals table th { padding-right: 6px; }
.woocommerce-cart .cart-collaterals .cart_totals table { width: 100%; }
.woocommerce-cart .cart-collaterals .cart_totals table td { text-align: right; }

 .products {
	position: relative;
	clear: both;
	list-style: none;
	text-align: center;
}

/* Common style */
.products figure {
	position: relative;
	float: left;
	overflow: hidden;
	width: 100%;
	height: auto;
	text-align: center;
	cursor: pointer;
}

.products figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
}

.products figure figcaption::before,
.products figure figcaption::after {
	pointer-events: none;
}

.products figure figcaption,
.products figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.products figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.products figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.products figure h2 span {
	font-weight: 800;
}

.products figure h2,
.products figure p {
	margin: 0;
}

.products figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


/*-----------------*/
/***** Winston *****/
/*-----------------*/

figure.effect-winston {
	text-align: left;
}

figure.effect-winston img {
	-webkit-transition: opacity 0.45s;
	transition: opacity 0.45s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-winston figcaption::before {
	position: absolute;
	top: 5px;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/triangle.svg) no-repeat center center;
	background-size: 100% 100%;
	content: '';
	-webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
	transition: opacity 0.45s, transform 0.45s;
	-webkit-transform: rotate3d(0,0,1,45deg);
	transform: rotate3d(0,0,1,45deg);
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

figure.effect-winston h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-winston p {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0 0 15px 0;
}

figure.effect-winston a {
    display: block;
}

figure.effect-winston span {
	margin: 0 10px;
	color: #333;
	font-size: 15px;
}

figure.effect-winston span:hover,
figure.effect-winston span:focus {
	color: #000;
}

figure.effect-winston p a i {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,50px,0);
	transform: translate3d(0,50px,0);
}

figure.effect-winston:hover img {
	opacity: 0.6;
}

figure.effect-winston:hover {
	background: #333333;
}

figure.effect-winston:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-winston:hover figcaption{
	opacity: 1;
}

figure.effect-winston:hover figcaption::before {
	opacity: 0.7;
	-webkit-transform: rotate3d(0,0,1,20deg);
	transform: rotate3d(0,0,1,20deg);
}

figure.effect-winston:hover p i {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-winston:hover p a:nth-child(3) i {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-winston:hover p a:nth-child(2) i {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-winston:hover p a:first-child i {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
