// main: ../style.less

/**********************************************************************/
/* SEARCH */
/**********************************************************************/

#search {
    position: absolute;
    top: 0px;
    left: 0px;
	width: 100%;
	height: 60px;
    z-index: 999;
	display: none;
    background: rgba(0,0,0,0.8);
    display: none;
}

#search .container-fluid { position: relative;

    form { margin: 0; }

    a { font-size: 14px; text-transform: uppercase; margin: 0 10px; color: #fff; position: absolute; top: 0; right: 0; line-height: 60px;

	}
}

.searchpop { padding: 0;

  h4 { font-size: 30px; font-weight: bold; color: #fff; margin: 0 0 20px 0; }

  ::-webkit-input-placeholder { color: #fff; }
  :-moz-placeholder { color: #fff; }
  ::-moz-placeholder { color: #fff; }
  :-ms-input-placeholder { color: #fff; }


  input[type="search"] {
     position: relative;
     width: 100%;
     color: #fff;
     background: rgba(0, 0, 0, 0);
     font-size: 30px;
     font-weight: 400;
     border: 0px;
     padding: 0;
     line-height: 60px;
     outline: none;
     box-shadow: none;
 }

}

@media (max-width: 768px)  {
    #search { top: 80px; }
    .searchpop { padding: 40px 30px; }
    .searchpop input[type="search"] { font-size: 30px; }
}
