// main: ../style.less

.page-template-team {


    .members { max-width: 760px; margin: 0 auto;

        h1 { font-size: 32px; text-align: center; margin: 25px 0 30px 0; }
        .after-title { margin-bottom: 30px; }

        .inner-members { display: inline-block; }

        .single-membre { margin: 0 0 50px 0;
            img { margin: 0 0 25px 0; width: 100%; height: auto; }
            h3 { font-size: 16px; font-weight: 600; text-transform: uppercase; margin: 0; }
            h4 { font-size: 14px; margin: 0;  }
        }

        .divers + div { display: none; }

        @media (min-width: 768px)  {

            .associe { margin: 0 -30px; padding: 0; margin-left: 0px;

                .single-membre { padding: 0 30px; }
            }

        }

        @media (max-width: 480px)  {

            .single-membre { width: 100%; margin: 0 0 25px 0; }
        }
    }

}
